<!DOCTYPE html>
<html>
<head>
	
	<title>{{job['title']}} - webTest </title>
	{% include 'bootstrap.html' %}
</head>
<body>
	{% include 'nav.html' %}
	{% include 'banner.html' %}
	<div class="container">
		<h2 class="mb-2">{{job['title']}}</h2>
		<p class="lead mt-0">{{job["ubi"]}}</p>
		<h4>Salary</h4>
		<p>{{job['salary']}} {{job["currency"]}}</p>
		<h4>Description</h4>
		<p>{{job['description']}}</p>

		<h4>Requirements</h4>
		
		{%if job.requirements and job.requirements.split("\n") | length >1 %}
			<ul>
			{% for line in job.requirements.split("\n") %}
			<li>{{line}}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>{{job.requirements}}</p>
		{% endif %}
		
	</div>
	{% include 'footer.html' %}	
</body>
</html>